:root {


    --clr-text: #fafafa;
    --clr-background: #0c0909;
    --clr-primary: #b9ada2;
    --clr-secondary: #1a1a14;
    --clr-accent: #8e8e6b;
    --clr-important: hsl(270, 60%, 70%);


    --clr-element-water: hsl(200, 100%, 89%);
    --clr-element-fire: hsl(0, 79%, 63%);
    --clr-element-nature: hsl(117, 100%, 84%);
    --clr-element-earth: hsl(28, 65%, 70%);
    --clr-element-electric: hsl(50, 79%, 62%);
    --clr-element-light: hsl(52, 36%, 89%);
    --clr-element-air: hsl(167, 76%, 89%);
    --clr-element-darkness: hsl(303, 100%, 75%);
    --clr-element-universal: hsl(0, 0%, 55%);


    --ff-main: 'Montserrat', sans-serif;
    --ff-accent:  'Fraunces', serif;
    --ff-extra: 'Playfair Display', serif;

    --content-width: 70%;

    --header-height: 2rem;

    --fs-base: 1rem;
    --fs-large: 2rem;
    --fs-extra-large: 5rem;

    /* Max width for lines on normal size screen */
    --p-width: 40ch; 
}

@media screen and (max-width: 600px) {
    :root {
        --fs-base: 0.7rem;
        --fs-large: 1rem;
        --fs-extra-large: 2rem;

        --content-width: 90%;
    }
}


/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* Utility Classes */
.flex-parent {
    display: flex;
    
    align-items: center;
}

.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.clr-accent {
    color: var(--clr-accent)
}

.container--dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

@media screen and (max-width: 600px) {
    .container--dual {
        grid-template-columns: 1fr;
    }
}

.image--center {
    justify-content: center;
    align-items: center;
    margin: auto;

}
.image--inline {
    display: inline;
}
.image--icon {
    width: 1em;
    height: 1em;
    transform: translateY(20%)
}

.border--small {
    border-radius: 0.35 em;
}

.important {
    font-weight: bolder;
    text-transform:  uppercase;
    color: var(--clr-important);
}

.clr-water {
    color: var(--clr-element-water);
}
.clr-fire {
    color: var(--clr-element-fire);
}
.clr-nature {
    color: var(--clr-element-nature);
}
.clr-earth {
    color: var(--clr-element-earth);
}
.clr-electric {
    color: var(--clr-element-electric);
}
.clr-light {
    color: var(--clr-element-light);
}
.clr-air {
    color: var(--clr-element-air);
}
.clr-darkness {
    color: var(--clr-element-darkness);
}
.clr-universal {
    color: var(--clr-element-universal);
}
.clr-rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
  }


/* Header */

.header {
    display: flex;
    width: 100%;
    background-color: var(--clr-secondary);
    opacity: 100%;
    height: var(--header-height);
    overflow: scroll;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
}


/* Mobile */
@media (max-width: 700px) {
    :root {
        --header-height: 4rem;
    }
    .header {
        flex-wrap: wrap; 
        gap: 0.5em;
    }
    .header > .divider {
        display: none;
    }
}


/* Desktop */
@media (min-width: 700px) {
    .header {
        gap: 1.5em;
        text-align: center;
        height: var(--header-height);
        font-weight: 600;
        font-size: var(--fs-base);
        padding-block: 1.25rem;
        overflow: hidden

    }
}


.header--child {
    cursor: pointer;
    border-radius: 0.225em;
    padding: 0.125rem;
}

.header > .divider {
    width: 2rem;
}

.header--child:hover {
    color: var(--clr-accent);
}



/* Main Contnet */

body {
    text-align: center;
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--ff-main);
    height: 200vh;
}

main {
    padding-top: calc(var(--header-height) + .5em);
}

section {
    position: relative;
    width: var(--content-width);
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 6rem;
    max-width: 1000px;
}

section > h2 {
    text-transform: uppercase;
    font-size: var(--fs-large);
}

@media screen and (max-width: 600px) {
    section > p {
        --p-width: 100%;
    }
}

section > p {
    font-size: var(--fs-base);
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1.5em;
}


.section--background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;

    background-color: var(--clr-text);
    opacity: 5%;
    border-radius: 0.625rem;

    --clr-shadow: hsl(0, 10%, 80%);
    -webkit-box-shadow: 0px 0px 10px 5px var(--clr-shadow);
    -moz-box-shadow: 0px 0px 10px 5px var(--clr-shadow);
    box-shadow: 0px 0px 10px 5px var(--clr-shadow);
}

.section--image--large {
    width: 70%;
}

h2, h3 {
    line-height: 3;
    margin-block: 1rem;
}

hr {
    margin: 3em;
}

ul {
    text-align: start;
    margin: 0.4em 0 0.9em;
    line-height: 1.5;
}

li {
    list-style: none;
    position: relative;
    padding: 0 0 0 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

li::before {
    background-color: inherit;
    content: "";
    position: absolute;
    left: 0;
    top: 0.45em;
    width: 0.9em;
    height: 0.9em;
    background-color: var(--clr-primary);
    border-radius: 100%;
}

li.clr-water::before {
    --clr-primary: var(--clr-element-water);
}

li.clr-fire::before {
    --clr-primary: var(--clr-element-fire);
}

li.clr-nature::before {
    --clr-primary: var(--clr-element-nature);
}

li.clr-earth::before {
    --clr-primary: var(--clr-element-earth);
}

li.clr-electric::before {
    --clr-primary: var(--clr-element-electric);
}

li.clr-light::before {
    --clr-primary: var(--clr-element-light);
}

li.clr-air::before {
    --clr-primary: var(--clr-element-air);
}

li.clr-darkness::before {
    --clr-primary: var(--clr-element-darkness);
}

li.clr-universal::before {
    --clr-primary: var(--clr-element-universal);
}

.acronym--list {
    white-space: nowrap;
    align-items: start;
    position: relative;
    padding-left: 3rem;
}
.acronym--list > li::before {
    display: none;
}

.acronym--list > li > *::after{
    content: "";
    padding-inline: 1rem;
}